


.header {
  grid-area: h;
  background-color: darkorchid;
  background-image: url('http://mobilkoy.ru/images/mobilkoy/2017/06/img1.jpg');
}
.header img {
  width: 30px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}