

.nav {
  grid-area: n;
  background: #466368;
  background: radial-gradient(#648880, #293f50);
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: orangered;
}

